<div class="l-home container">
  <div action="" class="l-home__form form form--default">
    <div class="l-auth__group l-auth__group--firstName">
      <label class="form__label">First Name</label>
      <input type="text" name="firstName" [(ngModel)]="user.profile.firstName" placeholder="" class="form__input" required/>
    </div>
    <div class="l-auth__group l-auth__group--companyName">
      <label class="form__label">Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="user.profile.lastName" placeholder="" class="form__input" required/>
    </div>

    <div class="l-auth__group l-auth__group--company">
      <label class="form__label">Company Name</label>
      <input type="text" name="company" [(ngModel)]="user.profile.company" placeholder="" class="form__input" required/>
    </div>

    <div class="l-auth__group l-auth__group--categories">
      <label class="form__label">Categories</label>
      <input type="text" name="categories" [(ngModel)]="categorySelected" [typeahead]="categories" (typeaheadOnSelect)="typeaheadOnSelect($event)" class="form__input"/>
    </div>

    <!-- Categories placeholder -->
    <div class="l-auth__categories">
      <div class="l-auth__category" *ngFor="let category of user.profile.categories">
        <span class="label">
          <span class="l-auth__category-close"></span>
          {{ category }}
        </span>
      </div>
    </div>

    <div class="l-auth__group l-auth__group--address-1">
      <label class="form__label">Address</label>
      <input type="text" name="address1" [(ngModel)]="user.profile.address1" placeholder="Street Address & Number" class="form__input" required/>
    </div>

    <div class="l-auth__group l-auth__group--address-2">
      <label class="form__label">Address</label>
      <input type="text" name="address2" [(ngModel)]="user.profile.address2" placeholder="City State & Zip" class="form__input" required/>
    </div>

    <div class="l-auth__group l-auth__group--phone">
      <label class="form__label">Phone</label>
      <input type="text" name="phone" [(ngModel)]="user.profile.phone" placeholder="Phone Number" class="form__input" required/>
    </div>

    <footer>
      <button (click)="save()" class="button button--primary button--filled">Save</button>
    </footer>
  </div>
</div>
