$white:        #ffffff;
$background:   #f5f8f9;

// Blue
$light-blue:   #25aae1;
$blue:         #007EE5;
$dark-blue:    #0e4892;

// Grey
$light-grey:   #a6b0b7;
$grey:         #3f454a;

// Yellow
$yellow:       #f9c518;
$orange:       #f85c2c;

// Red
$red:          #ea392b;

$grid-xs: 0;
$grid-sm: 543px;
$grid-md: 767px;
$grid-lg: 991px;
$grid-xl: 1199px;
