<header class="l-auth__header">
  <button ui-sref="welcome" class="l-auth__close"></button>
  <h1 class="l-auth__title">Forgot your username or password?</h1>
  <h2 class="l-auth__subtitle">Enter your e-mail address below:</h2>
</header>

<div class="form form--default form--lg">
  <div class="l-auth__email form__group">
    <label class="form__label">E-mail</label>
    <input type="text" name="email" [(ngModel)]="email" placeholder="" class="form__input" required/>
  </div>
</div>

<footer class="l-auth__footer">
  <button (click)="continue()" class="l-auth__continue button button--filled button--primary button--lg">Continue</button>
  <p class="l-auth__existing">Do not have an account? <a [routerLink]="['../register']">Sign Up!</a></p>
</footer>
